/**
 * Content
 * ----------------------------------------------------------------------------
 */

body {
	background: black url(img/bg.jpg) no-repeat fixed center bottom;
	background-size: cover;
	color: red;
}

